# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
 
# Virtual environment
venv/
 
# Environment variables
.env
 
# FAISS index files
# *.faiss
 
# VSCode settings (optional)
.vscode/
 
 
# Log files and temporary files
*.log
*.tmp
 
# JSON metadata (if generated dynamically and not needed in version control)
# chunk_metadata.json
 
# rag_data_index.faiss
 
# Ignore PDFs (optional, if these are just reference materials)
*.pdf
 